ul{
	list-style-type:  none;
}

.sp_CA{
background: rgb(79, 0, 0);
background: linear-gradient(90deg, rgba(79, 0, 0, 1) 0%, rgba(176, 0, 9, 1) 99%);
color: white;
font-weight: bold;
}
.sp_CATE{
background: rgb(106, 101, 2);
background: linear-gradient(90deg, rgba(106, 101, 2, 1) 0%, rgba(226, 200, 0, 1) 99%);
font-weight: bold;
color: white;
font-weight: bold;

}
.sp_Equ{
background: rgb(3, 80, 42);
background: linear-gradient(90deg, rgba(3, 80, 42, 1) 0%, rgba(8, 173, 21, 1) 99%);
color: white;
font-weight: bold;
}
.sp_CAPL{
background: rgb(92, 0, 115);
background: linear-gradient(90deg, rgba(92, 0, 115, 1) 50%, rgba(167, 0, 249, 1) 100%);
color: white;
font-weight: bold;
}
.sp_PL{
	background: rgb(115, 0, 72);
	background: linear-gradient(90deg, rgba(115, 0, 72, 1) 50%, rgba(249, 0, 231, 1) 100%);
	color: white;
	font-weight: bold;
}
.sp_CATEPL{
	background: rgb(168, 83, 3);
	background: linear-gradient(90deg, rgba(168, 83, 3, 1) 50%, rgba(249, 133, 0, 1) 100%);
	color: white;
	font-weight: bold;
}

a{
	color: black;
}
#titre{
	color: lightgrey;
}
h5{
	text-align: center;
}
h1{
	font-family: 'Roboto';
	letter-spacing: 0.8em;
}
#sidebar{
	min-height: 50em;
}
.night{
	background-image: url(../image/night2.png);
	background-repeat: no-repeat;
	background-position: right top;
  	background-size: auto;



}
.day{
	background-image: url(../image/day2.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: auto;
}

.card-body .ui-selected {background: #F39814}



}