.sp_CA{
background-color: red;
color: white;
}
.sp_CATE{
background-color: yellow;

}
.sp_Equ{
background-color: green;
color: white;
}
.sp_CAPL{
background-color: purple;
color: white;
}
.sp_PL{
background-color: pink;
color: white;
}
.sp_CATEPL{
background-color: orange;
color: black;
}

a{
	color: black;
}
#titre{
	color: lightgrey;
}
h5{
	text-align: center;
}
h1{
	font-family: 'Roboto';
	letter-spacing: 0.8em;
}
#sidebar{
	min-height: 50em;
}
.night{
	background-image: url(/image/nightday2.png);
	background-repeat: no-repeat;
	background-position:0 -91px;

}
.day{
	background-image: url(/image/nightday2.png);
	background-repeat: no-repeat;
	

}
