{% extends 'base.html.twig' %}
{% block body %}

<div class="card col">
  <div class="card-header">
	  Paramètres
  </div>
  <div class="card-body row">
	  <div class="col-3 text-center">
    		<h5 class="card-title">POJ</h5>
    		<p class="card-text ">
				 <button class="btn btn-outline-primary" id="removePoj"> -  </button>
				 <span>{{ poj.valParam }}</span>
				 <button class="btn btn-outline-primary" id="addPoj"> + </button>
			</p>
		</div>
	  <div class="col-3">
    		<h5 class="card-title">Créneaux Semaine par personnes</h5>
    		<p class="card-text">{{ crenDay.valParam }}</p>
		</div>
	  <div class="col-3">
    		<h5 class="card-title">Créneaux Week End par personnes</h5>
    		<p class="card-text">{{ crenWE.valParam }}</p>
		</div>
      </div>
</div>

{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/param.js') }}" type="text/javascript"></script>
{% endblock %}
